/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Body */
body {
  background: #f4f4f4;
  color: #333;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #111;
}

.logo {
  color: #fff;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

nav a:hover {
  color: orange;
}

/* Hero Section */
.hero {
  height: 90vh;
  background: linear-gradient(to right, #000, #333);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 48px;
}

.hero p {
  margin: 15px 0;
  font-size: 18px;
}

.hero button {
  padding: 12px 25px;
  border: none;
  background: orange;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.hero button:hover {
  background: white;
}

/* Sections */
section {
  padding: 60px;
  text-align: center;
}

/* Services */
.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 30px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

/* Footer */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
}